<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NoteHarbor</title>

    <!-- Link for CSS -->
     <link rel="stylesheet" href="/styles/general.css">
     <link rel="stylesheet" href="/styles/style.css">

    <!-- Link for Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
</head>

<body>
    <header class="section-header">
        <a href="#" class="header-website-logo link"><img src="/img/website_logo.png" alt="NoteHarbor Logo" height="65 width="60"></a>
        <h1 class="header-title">NoteHarbor</h1>
    </header>

    <main>
